/*Three mains color: white black red*/
:root{
    --white: white;
    --black: black;
    --red: rgb(185, 0, 0);
    --font-color: black;
    --color-menu: black;
    --color-header: white;
    --background-color: rgb(245, 245, 245);
    --a-hover: rgb(226, 226, 226);
    --a-active: rgb(206, 206, 206); 
}
* a:focus  {
    outline: 1px solid var(--red);
}
html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}
body{
    margin: 0;
    padding: 0;
}
.web{
    color: var(--font-color);
    margin-top: 50px;
    user-select: none;
    position: relative;
}
.content {
    margin: 2%;
    user-select: none;
    transition: margin-left .6s;
    transition-timing-function: linear;
}
nav {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: var(--background-color);
    transition: left .6s;
    opacity: 0;
    transition-timing-function: linear;
    z-index: 5;
}
nav hr{
    border: 1px solid var(--red);
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    display: block;
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.04em;
    padding: 10px;
    box-sizing: border-box;
    outline-offset: -2px;
}
nav ul li a:hover{
    background-color: var(--a-hover);
}
nav ul li a:active {
    background-color: var(--a-active);
}
nav ul li a:focus{
    outline: 2px solid var(--red);
}
.SocNetwork{
    display: inline-block;
}
.SocNetwork a{
    padding: 6px;
}
.redditN{
    width: 40px;
    height: 40px;
}
.navClose{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.navClose i{
    display: block;
    position: absolute;
    top: 45%;
    left: 7%;
    height: 3px;
    width: 30px;
    background-color: var(--color-menu);
    border-radius: 5px;
}
.navClose:hover i{
    outline: 1px solid var(--red);
}
.navClose i:first-child{
    transform: rotate(45deg)
}
.navClose i:last-child {
    transform: rotate(-45deg)
}
header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: var(--color-header);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.navShow{
    display: inline-block;
    cursor: pointer;
    width: 35px;
}
.navShow i{
    display: block;
    height: 4px;
    background-color: var(--color-menu);
    border-radius: 5px;
    margin-bottom: 4px;
}
.navShow i:nth-child(1){
    width: 100%;
}
.navShow i:nth-child(2) {
    width: 75%;
}
.navShow i:nth-child(3) {
    width: 50%;
    margin-bottom: 0;
}
.navShow:last-child{
    margin-bottom: 4px;
}
.navShow:hover i{
    outline: 1px solid var(--red);
}
.theme{
    cursor: pointer;
    margin-left: 20px;
}
.leftNav{
    display: flex;
    align-items:center;
    margin-left: 20px;
    transition: margin-left .6s;
    transition-timing-function: linear;
}
.rightNav{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.rightNav input{
    margin-right: 10px;
    height: 20px;
    width: 180px;
    border: 1px solid var(--red);
    background: var(--background-color);
    outline: none;
    transition: width .6s;
    transition-timing-function: linear;
}
.searchNav{
    cursor: pointer;
    margin-right: 10px;
    display: none;
    height: 30px;
    width: 30px;
    background-image: url(/My-projects/firstProject/img/icon/search_strong_icon_black.png);
    background-size: cover;
}
.rightNav input:focus{
    outline: 1px solid var(--red);
}
.leftNav a {
    margin-left: 20px;
    
}

#logo {
    width: 70px;
    height: auto;
}
.slider1{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}
.slider1s{
    background-color: rgb(41, 41, 41);
    display: flex;
    width: 100%;
    height: 500px;
    color: white;
    transition: .6s;
    transition-timing-function: linear;
}
.sliderChild{
    height: auto;
    min-width: 100%;
    z-index: 1;
}
.sliderChild a {
    display: flex;
    text-decoration: none;
    color: white;
    cursor: default;
}
.slider1s:last-child{
    margin-right: 0;
}
.sliderChild img{
    
    height: 500px;
    width: auto;
}
.sliderImg{
    display: block;
    width: 100%;
    overflow: hidden;
}
.sliderP{
    overflow-y: hidden;
    position: relative;
    right: 0;
    top: -10px;
    display: block;
    width: 50%;
    padding: 1.5%;
    padding-right: 45px;
}
.slider10{ position: relative; }
.slider10 button{
    position: absolute;
    padding: 10px;
    width: 40px;
    font-size: 1.3em;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(58, 58, 58, 0.74);
    color: white;
    text-align: center;
    z-index: 2;
    transition: .3s;
}
.slider10 button:hover{ background-color: rgba(58, 58, 58, 0.815); }
.slider10 button:active { background-color: rgba(58, 58, 58, 0.932); }
.slider10 .rightBtn{ right: 0; }

.topList{
    position: relative;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.topList .topListLeft, .topList .topListRight{
    width: 46%;
    background-color: var(--background-color);
    font-size: .8em;
    color: var(--font-color);
    padding: 1%;
}
.topList img{
    width: 80px;
    height: 125px;
    object-fit: contain;
}
.listChild div{ margin-left: 3%; margin-top: -5%;}

.listChild a {
    display: flex;
    border: 1px solid transparent;
    align-items: center;
    margin-top: 20px;
    color: var(--font-color);
    text-decoration: none;
}
.listChild:hover{ cursor: pointer; }
.topList .topListLeft:first-child,
.topList .topListRight:first-child{ margin-top: 0px; }
.listTitle{
    position: absolute;
    top: -15%;
}
.listTitle button{
    background-color: var(--background-color);
    padding: 5px 16px;
    border: 1px solid transparent;
    color: var(--font-color);
}
.listTitle .active{ border: 1px solid var(--red); }
.listTitle button:not(.active):hover{ background-color: var(--a-hover) }
.listTitle button:not(.active):active { background-color: var(--a-active) }

.slider2{
    margin-top: 50px;
    height: 125px;
    width: 100%;
    overflow: hidden;
}
.slider2s{
    display: flex;
    font-size: .8em;
    color: var(--font-color);
    
}


.slider2Child{
    user-select: none;
    min-width: 400px;
    height: 125px;
    overflow-y: hidden;
    margin-right: 20px;
    border-right: 2px solid var(--background-color);
    z-index: 1;
}
.slider2Child a {
    pointer-events: auto;
    display: flex;
    color: var(--font-color);
    text-decoration: none;
}
.slider2Child:hover{
    border-right: 2px solid var(--red);
}
.slider2Child:last-child{
    margin-right: 0px;
    
}

.slider2Child img{
    object-fit: contain;
    width: 80px;
    height: 125px;
}

.slider2Text{
    box-sizing: border-box;
    margin-top: -20px;
    padding: 10px;
}
.slider2Text p {
    margin-top: -5px;
}

.search{
    display: none;
    box-sizing: border-box;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    background-color: var(--color-header);
    padding: 2%;
    
}
.searchHead{
    font-size: 1.3em;
}
.searchHead input{
    outline: none;
    border: 1px solid var(--red);
    width: 100%;
    height: 30px;
    background-color: var(--background-color);
    color: var(--font-color);
}
.searchHead input:focus{
    outline: 1px solid var(--red);
}
.searchRange{
    padding: 1%;
    float: right;
    width: 30%;
}

.searchRange select, .searchRange input{
    margin-top: 2%;
    outline: none;
    color: var(--font-color);
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 4%;
    background-color: var(--background-color);
    border: 1px solid var(--red);
}
.searchRange select option:hover{
    background-color: brown;
}
.searchContent{
    margin-top: 2%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    height: 80%;
}
.contentChild{
    width: 120px;
}
.contentChild h5{
    margin-top: 0px;
    color: var(--font-color);
}
.searchContent img{
    width: 120px;
    height: 200px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    
}
@media screen and (min-width:1530px) {
    .slider1s {
        height: 500px;
    }

    .slider1s img {
        height: 500px;
    }

    .sliderP {
        width: 75%;
        font-size: 1.3em;
    }

    .topList {
        font-size: 1.3em;
    }
    .listTitle{
        font-size: 1.3em;
        top: -20%;
    }
    .slider2s{
        font-size: 1em;
    }
    .slider2Text{
        margin-top: -30px;
    }
    .slider2Text p{
        margin-top: -10px;
    }
    nav ul li a {
        font-size: 1.3em;
    }
}
@media screen and (min-width:2500px) {
    .slider1s img {
        height: 700px;
    }
    .slider1s {
        height: 700px;
    }
}
@media screen and (max-width:860px) {
    .topListRight {
        display: none;
    }

    .topList .topListLeft {
        min-width: 100%;
    }

    .topList {
        display: block;
    }

    .slider1s {
        height: 350px;
    }

    .slider1s img {
        height: 350px;
    }

    .slider1 .sliderP {
        font-size: .9em;
    }
    .contentChild{
        width: 110px;
    }
    .searchContent img{
        width: 110px;
        height:170px;
    }
    .searchRange{
        width: 30%;
    }
    .searchContent{
        width: 65%;
    }
}
@media screen and (max-width:700px) {
    .contentChild{
        width: 100px;
    }
    .searchContent img{
        width: 100px;
        height:150px;
    }
    .searchRange{
        width: 30%;
    }
    .searchContent{
        width: 65%;
    }
}
@media screen and (max-width:600px) {

    /* nav{
        width: 70%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: opacity .6s;
    } */
    .slider1 .sliderP {
        font-size: .8em;
        width: 70%;
    }
    .sliderP h2{
        font-size: 1.2em;
    }
    .slider1s {
        height: 300px;
    }

    .slider1s img {
        height: 300px;
    }

    .rightNav input {
        width: 150px;
    }
    .contentChild{
        width: 80px;
    }
    .searchContent img{
        width: 80px;
        height:120px;
    }
    .searchRange{
        width: 30%;
    }
    .searchContent{
        width: 65%;
    }
    .topList img{
        width: 70px;
        height: 130px;
    }
    .listChild h2{
        font-size: 1.2em;
    }
    .listChild p{
        font-size: 1em;
    }
}

@media screen and (max-width:500px) {
    .slider1s img{
        transform: translate(-25%, 0);
    }
    /* .slider1 .sliderP{ display: none; } */
    .slider1s {
        height: 250px;
    }

    .slider1s img {
        height: 250px;
    }

    .rightNav input {
        display: none;
    }
    .searchNav {
        display: block;
    }
    nav ul li a{
        font-size: .9em;
        padding: 5px 10px;
    }
    .sliderP{
        width: 100%;
    }
    .contentChild {
        width: 70px;
    }

    .searchContent img {
        width: 70px;
        height: 100px;
    }

    .searchRange {
        width: 30%;
    }

    .searchContent {
        width: 65%;
    }
}

@media screen and (max-width:360px) {
    .slider1s {
        height: 200px;
    }

    .slider1s img {
        height: 200px;
    }

    .slider1 .sliderP {
        font-size: .6em;
    }

    .rightNav input {
        width: 80px;
    }
    .contentChild{
        width: 60px;
    }
    .searchContent img{
        width: 60px;
        height:90px;
    }
    .searchRange{
        width: 30%;
    }
    .searchContent{
        width: 65%;
    }
}

@media screen and (min-width:600px) {
    /* nav{
        position: fixed;
        top: 0;
        left: -200px;
        height: 100%;
    } */
}

